<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inward Courier Registration Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" media="screen"
        href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/jquery-ui.min.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
       
   
    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Bootstrap Registration Form Template</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							
							
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Inward Courier</strong> Registration Form</h1>
                           
                        </div>
                    </div>
                
                    <div class="form-top-right">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Receivers Details</h3>
                                    <p>Fill in the form with details of reciver</p>
                                </div>
                            </div>
                            
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    <div class="form-group">
                                        <label for="form-recivers_code">Receivers Code </label>
                                        <input type="text" name="form-recivers_code" placeholder="Receivers code..." class="form-recivers_code form-control" id="form-recivers_code">
                                    </div>
                                     <button type="submit" class="btn">Get the details of receivers</button>
                                    
                                    <div class="form-group">
                                        <label for="form-recivers_company">Receivers Company</label>
                                        <input type="text" name="form-recivers_company" placeholder="Receivers Company..." class="form-recivers_company form-control" id="form-recivers_company">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-recivers_address">Receivers Address</label>
                                        <textarea type="textarea" name="form-recivers_address" placeholder="Receivers Address..." class="form-recivers_address form-control" id="form-recivers_address"></textarea>
                                    </div>
                                    <!-- Abey for got to create a model for Recivers City can u add a Model ?? -->
                                    <!-- <div class="form-group">
                                        <label for="form-email">Receivers City</label>
                                        <input type="text" name="form-senders_city" placeholder="Receivers City..." class="form-senders_city form-control" id="form-senders_city">
                                    </div> -->
                                   
                                    <div class="form-group">
                                        <label for="form-recivers_name">Receivers Name</label>
                                        <input type="text" name="form-recivers_name" placeholder="Receivers Name..." class="form-recivers_name form-control" id="form-recivers_name">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the phone number -->
                                    <div class="form-group">
                                        <label for="form-recivers_phoneno">Receivers PhoneNumber</label>
                                        <input type="integer" name="form-recivers_phoneno" placeholder="Receivers PhoneNumber..." class="form-recivers_phoneno form-control" id="form-recivers_phoneno">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the pincode number -->
                                   <div class="form-group">
                                        <label for="form-recivers_pincode">Receivers Pincode</label>
                                        <input type="integer" name="form-recivers_pincode" placeholder="Receivers Pincode..." class="form-recivers_pincode form-control" id="form-recivers_pincode">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-recivers_state">Receivers State</label>
                                        <input type="text" name="form-recivers_state" placeholder="Receivers State..." class="form-recivers_state form-control" id="form-recivers_state">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-recivers_email">Email Receivers *</label>
                                        <input type="text" name="form-recivers_email" placeholder="Email Receivers..." class="form-recivers_email form-control" id="form-recivers_email">
                                    </div>
                                </form>
                            </div>
                    </div>
                    
                    <div class="form-top-right">
                            <div class="form-top">
                                <div class="form-top-left">
                                     <h3>Senders Details</h3>
                                    <p>Fill in the form with the details of sender</p>
                                </div>
                                
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    <div class="form-group">
                                        <label for="form-senders_code">Senders Code </label>
                                        <input type="text" name="form-senders_code" placeholder="senders code..." class="form-senders_code form-control" id="form-senders_code">
                                    </div>
                                     <button type="submit" class="btn">Get the details of sender</button>
                                    
                                    <div class="form-group">
                                        <label for="form-senders_company">Senders Company</label>
                                        <input type="text" name="form-senders_company" placeholder="Senders Company..." class="form-senders_company form-control" id="form-senders_company">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-last-name">Senders Address</label>
                                        <textarea type="textarea" name="form-senders_address" placeholder="Senders Address..." class="form-senders_address form-control" id="form-senders_address"></textarea>
                                    </div>
                                    
                                 <!--    <div class="form-group">
                                        <label for="form-email">Senders City</label>
                                        <input type="text" name="form-senders_city" placeholder="Senders City..." class="form-senders_city form-control" id="form-senders_city">
                                    </div> -->
                                   
                                    <div class="form-group">
                                        <label for="form-email">Senders Name</label>
                                        <input type="text" name="form-senders_name" placeholder="Senders Name..." class="form-senders_name form-control" id="form-senders_name">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the phone number -->
                                    <div class="form-group">
                                        <label for="form-email">Senders PhoneNumber</label>
                                        <input type="integer" name="form-senders_phoneno" placeholder="Senders PhoneNumber..." class="form-senders_phoneno form-control" id="form-senders_phoneno">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the pincode number -->
                                   <div class="form-group">
                                        <label for="form-email">Senders Pincode</label>
                                        <input type="integer" name="form-senders_pincode" placeholder="Senders Senders Pincode..." class="form-senders_pincode form-control" id="form-senders_pincode">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-email">Senders State</label>
                                        <input type="text" name="form-senders_state" placeholder="Senders State..." class="form-senders_state form-control" id="form-senders_state">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-email">Email Senders *</label>
                                        <input type="text" name="form-senders_email" placeholder="Email Senders..." class="form-senders_email form-control" id="form-senders_email">
                                    </div>
                                </form>
                            </div>
                    </div>    
                                    <div class="form-top-right">
                            <div class="form-top">
                                <div class="form-top-left">
                                     <h3>Other Details</h3>
                                    <p>Fill in the form with the details of Other Important things</p>
                                </div>
                                
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    
                                    <div class="form-group">
                                        <label for="form-special_instructions">Special Instructions </label>
                                        <input type="text" name="form-special_instructions" placeholder="Special Instructions..." class="form-special_instructions form-control" id="form-special_instructions">
                                    </div>
                                
                                    
                                    <div class="form-group">
                                        <label for="form-service_sticker">Service Sticker</label>
                                        <input type="text" name="form-service_sticker" placeholder="Service Sticker..." class="form-service_sticker form-control" id="form-service_sticker">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-original_senders_name">Original Senders Name</label>
                                        <Input type="text" name="form-original_senders_name" placeholder="Original Senders Name..." class="form-original_senders_name form-control" id="form-original_senders_name">
                                    </div>
                                    
                                 <!-- Mukund need to this date picker to time stamp model in the models.py ive attached it to models check it once more   -->
                                   
                                    <div class="form-group">
                                        <label for="form-timestamp">Date Picker</label>
                                        <input type="date" class="form-timestamp form-control" id="form-timestamp" />
                                    </div>         
                                  
                                     
                                    
                                    <div class="form-group">
                                      <label class="form-courier_service_used" for="Courier Service Used">Courier Service used</label>
                                     <select id="form-courier_service_used" class="form-courier_service_used form-control">
                                        <option>FedEx</option>
                                        <option>UPS</option>
                                        <option>TNT</option>
                                     </select> 
                                    </div>
    
                                

                                   <div class="form-group">
                                        <label for="form-email">Courier Picked up Employee Name</label>
                                        <input type="text" name="form-courier_pickedup_by_name" placeholder="Courier Picked up Employee Name..." class="form-courier_pickedup_by_name form-control" id="form-courier_pickedup_by_name">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-email">Courier Picked up Employee ID</label>
                                        <input type="text" name="form-pickup_empid" placeholder="Courier Picked up Employee ID..." class="form-pickup_empid form-control" id="form-pickup_empid">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="form-general_description">General Description </label>
                                        <input type="text" name="form-general_description" placeholder="General Description..." class="form-general_description form-control" id="form-general_description">
                                    </div>
                                </form>

                            </div>
                    </div>
                  
                  <div class="form-top-right">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Courier Details</h3>
                                    <p>Fill in the form with details of Courier</p>
                                </div>
                            </div>
                            
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="registration-form">
                                    <div class="form-group">
                                        <label for="form-origin_of_the_courier">Origin of the Courier</label>
                                        <input type="text" name="form-origin_of_the_courier" placeholder="Origin of the Courier..." class="form-origin_of_the_courier form-control" id="form-origin_of_the_courier">
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="form-destination_of_the_courier">Destination of the Courier</label>
                                        <input type="text" name="form-destination_of_the_courier" placeholder="Destination of the Courier..." class="form-destination_of_the_courier form-control" id="form-destination_of_the_courier">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-invoice_details">Invoice Details</label>
                                        <Input type="text" name="form-invoice_details" placeholder="Invoice Details..." class="form-invoice_details form-control" id="form-invoice_details">
                                    </div>


                                    <!-- Abey for got to create a model for Recivers City can u add a Model ?? -->
                                    <!-- <div class="form-group">
                                        <label for="form-email">Receivers City</label>
                                        <input type="text" name="form-senders_city" placeholder="Receivers City..." class="form-senders_city form-control" id="form-senders_city">
                                    </div> -->
                                   
                                    <div class="form-group">
                                        <label for="form-invoice_value">Invoice Value</label>
                                        <input type="text" name="form-invoice_value" placeholder="Invoice Value..." 
                                        class="form-invoice_value form-control" id="form-invoice_value">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the phone number -->
                                    <div class="form-group">
                                        <label for="form-airway_bill_number">Airway Bill Number</label>
                                        <input type="text" name="form-airway_bill_number" placeholder="Airway Bill Number..." class="form-airway_bill_number form-control" id="form-airway_bill_number">
                                    </div>
                                    <!-- Needs to do validation to make sure to enter the pincode number -->
                                 

                                    <div class="form-group">
                                        <label for="form-number_of_packages">Number Of Packages</label>
                                        <input type="text" name="form-number_of_packages" placeholder="Number Of Packages..." class="form-number_of_packages form-control" id="form-number_of_packages">
                                    </div>

                                    <div class="form-group">
                                        <label for="form-gross_weight">Gross Weight *</label>
                                        <input type="text" name="form-gross_weight" placeholder="Gross Weight..." class="form-gross_weight form-control" id="form-gross_weight">
                                    </div>
                                     

                                    <div class="form-group">
                                        <label for="form-dimensonal_weight">Dimensonal Weight *</label>
                                        <input type="text" name="form-dimensonal_weight" placeholder="Dimensonal Weight ..." class="form-dimensonal_weight form-control" id="form-dimensonal_weight">
                                    </div>

                                </form>
                            </div>
                    </div>
                    

                </div>
            </div>         
        </div>        
           
            
        


        <!-- Javascript -->
        <script type="text/javascript"src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
        <script type="text/javascript"src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
        </script>
        <script type="text/javascript"src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript"src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">$('#datetimepicker').datetimepicker({format: 'dd/MM/yyyy hh:mm:ss',language: 'pt-BR'});</script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/retina-1.1.0.min.js"></script>
        <script src="assets/js/scripts.js"></script>  
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
        $( "#dp" ).datepicker({
        //changeMonth: true,
        //changeYear: true
        });
        </script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
